html{
	height:100%;
}

body{

    font-family: 16px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	background-image: url(../images/atmosphere-background-bright-clouds-19670.jpg);
	margin:0px;
    padding:0px;
    width: 100%;
	
}



@media screen and (max-width:576px){
	.encl{
		margin-top:10%;	
	}
}


@media screen and (min-width:767){
	.timer{
	
		float: right;	
		margin-right: 5%;	
		padding:6px;
		border-radius:15%;	
		background:white;
		color:#010c0b;;
		font-weight: bold;
		
	}
}


@media screen and (min-width:576px){
	.timer{
	
		float: right;	
		margin-right: 5%;	
		padding:6px;
		border-radius:15%;	
		background:white;
		color:#010c0b;;
		font-weight: bold;
		
	}
}


	.timer{
	
		float: right;	
		margin-right: 1%;			
		background:white;
		color:#010c0b;;
		font-weight: bold;
		
		
	}


hr {
	margin-top: 0rem;	
	border: 0.5px;
	border-top: 5px solid rgba(44, 34, 1, 0.1);
	
  }

.container .row{
	margin-right:0px;
	margin-left:0px;
	
}

h2{
	
	font-size: 2rem;
}


.card{
	height:max-content;
	border-radius: 3%/5%; 
	box-shadow: 5px 5px 30px lightgray;
	background-image: url(../images/main.jfif)
}

.card-body{
	padding:40px 20px;
}


#startQuiz,#reStartQuiz,#saveScore,.btn{
	background-color:#4aaaa5;;
	border:1px solid #4aaaa5;
	color:rgb(39, 20, 20);
	box-shadow: 5px 5px 15px rgb(122, 121, 121);
}

.card-header{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-evenly;
	flex:1;
	

}

.span{
font: bold;
text-emphasis-color: red;

}

li{
	font-size:1rem;
	color:cornsilk;
	margin: 1%;
	
}

#selection1,#selection2,#selection3,#selection4{
	color:black;
	font: size 1rem;
	
}

.input-group{
	width:260px;
	margin:auto;
}


.boxh{

	background-color: #385998;
	font: 1.5rem -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	
	}



	@media screen and (min-width:767){
		.boxh{

			background-color: #385998;
			font: 2rem -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
			
			}
	}
/*

*/

h1{
font-size: 1.5rem;
border-bottom: orangered 2px solid;

}


.btn-primary{
	background-color: #060ae7;
	border:1px solid rgb(170, 194, 63);
	color:white;
	box-shadow: 5px 5px 10px rgb(73, 117, 121);
	border-radius:3%/20%;
	margin:5px 3px;	
	font-size: 1.2rem;

	
}

.btn-primary:hover{
	background-color:rgb(13, 4, 61);
	border:1px solid rgb(25, 184, 149);
}

.btn-primary:focus{
	background-color:rgb(1, 6, 24);
	border:1px solid rgb(0, 8, 7);
	flex-wrap: wrap;
}


.form-control-sm{
	width:60%;
	margin:0 auto 10px auto;;
}

.highScoreList{
	display:flex;
	flex-direction: column;
}

.highScoreList li{
	align-self: center;
}

.footer{
position: relative;
margin-top: 6%;

}

@media screen and (max-width:767px){
	.card-header{
		display:block;
	}
}

#quizTest{

font-size:1.2rem;	
}
